<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-danger"><%= message %></div>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
<div class="field">
    <%= f.label :gender %><br />
    <%= f.label :gender, "Male", :value => "Male"  %>
    <%= f.radio_button :gender, "Male" %>
    <%= f.label :gender, "Female", :value => "Female" %>
    <%= f.radio_button :gender, "Female" %>
  </div>
 
    <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>